boto3==1.38.3
faiss-cpu==1.8.0
ipywidgets==7.8.5
langchain==0.3.7
langchain-aws==0.2.6
langchain-community==0.3.5
langchain-text-splitters==0.3.2
langchainhub==0.1.20
langgraph==0.2.45
langgraph-checkpoint==2.0.2
langgraph-sdk==0.1.35
langsmith==0.1.140
matplotlib==3.9.0
pypdf==3.8.0
langmem==0.0.25